fieldset {
	width:500px;
	border:2px solid #5C0756;
	margin:0 auto;
	border-radius:5px;
}

legend {
	color: black;
	font-size: 25px;
}

dl {
	float: right;
	width: 390px;
}

dt {
	width: 180px;
	padding-bottom:5px;
	margin-bottom:5px;
	color: black;
	font-size: 19px;
}

dd {
	width:200px;
	float:left;
}

dd input {
	width: 200px;
	border: 1px solid #DDD;
	font-size: 15px;
	text-indent: 5px;
	height: 28px;
}
dd input:hover {
	width: 200px;
	border: 1px solid #5C0756;
	font-size: 15px;
	text-indent: 5px;
	height: 28px;
}

.btn {
	color: #fff;
	background-color: #5C0756;
	height: 38px;
	border: 2px solid #CCC;
	border-radius: 10px;
	float: right;
}